<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%#ml-md-auto → ms-auto boostrap4→5への変更点%>
      <%#<ul class="navbar-nav ms-auto align-items-center">%>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "投稿", new_post_path, class: "btn btn-primary" %>
        </li>
        <li class="nav-item">
          <%= link_to "", user_path(current_user), class: "nav-link commonNavIcon profile-icon" %>
        </li>
        <li class="nav-item">
          <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</nav>

